<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Relatorio de lancamentos por pessoa</h1>
    </div>

    <form #f="ngForm" (ngSubmit)="gerar()">

      <div class="ui-g-12">
        <label>Vencimento </label>
        <p-calendar dateFormat="dd/mm/yy" required name="periodoInicio" [(ngModel)]="periodoInicio"
                    [inputStyle]="{'width':'95px'}"
        ></p-calendar>

        <label> Ate </label>

        <p-calendar dateFormat="dd/mm/yy" required name="periodoFim" [(ngModel)]="periodoFim"
                    [inputStyle]="{'width':'95px'}"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Gerar" [disabled]="f.invalid"></button>
      </div>
    </form>
  </div>
</div>
