<app-navbar></app-navbar>
<app-lancamentos-pesquisa></app-lancamentos-pesquisa>
<!--<app-pessoas-pesquisa></app-pessoas-pesquisa>-->
<!--<app-lancamentos-novo></app-lancamentos-novo>-->
<!--<app-pessoas-novo></app-pessoas-novo>-->


<p-toast [style]="{marginTop: '80px'}" position="bottom-right"></p-toast>
<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
